@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Questrial, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

#background-image {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }

  #background-image img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    
    /* animates zoom effect on loading page */
    animation-name: game-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  
  /* creates the level of zoom for hero image */
  @keyframes game-image-zoom {
      from {
          transform: scale(1);
      }
      to {
          transform: scale(1.1);
      }
  }
  
#main-panel {
	width: 31.25rem;
	height: 37.5rem;
	background-color : rgba(60, 60, 60, 0.9);
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem 1.8rem 2.3rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.top-line {
	line-height:1.875rem;
}

.top-line p {
	float: right;
	padding-top: 0.25rem;
	padding-right: 0.5rem;
}

.exit {
	float: left;
	font-size:150%;
	background-color: transparent;
	color : #fafafa;
	padding-top: 0.3rem;
}
.user-icon {
	font-size:220%; 
	float:right;
}

#username {
	font-weight: 200;
	font-size: 80%;
}

.button {
    background-color: #f57309;
    border: none;
    color: #fafafa;
    padding: 0.8rem;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    width: 17.5rem;
    border-radius: 11px;
    border-bottom: 4px solid #bd5907;
 }
 
 .button:hover {
    background-color: #f38429;
 }
 
 .button:active {
   background-color: #f38429;
   border-bottom: 4px solid transparent;
   transform: translateY(4px);
 }
 
/* styling for the login panel */
#login-panel {
    display:none;
}

/* styling for the choose-topic panel */
#choose-topic-panel {
    /*display:none;*/
    padding-top: 5rem;
}

.info-text {
	padding: 2rem;
	letter-spacing: 0.125rem; 
	font-size: 1.8em; 
	font-weight:bold;
}

/* styling for the game playing panel */
#game-panel {
    display:none;
}

/* styling for the end of round panel */
#end-panel {
    display:none;
}


/* For small screens sizes from 510px wide and down */
@media screen and (max-width: 510px) {
    #main-panel {
        width: 17.5rem;
        padding: 0.625rem;
    }
}