@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --midgrey : #3a3a3a;
    --panel-grey : rgba(60, 60, 60, 0.9);
    --offwhite: #fafafa;
    --border-orange: #bd5907;
    --button-orange: #f38429;
    --bg-orange: #f57309;
    --msg-text: gold;
    --question-text : black;
 }

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Questrial, sans-serif;
    font-weight: 400;
    color: var(--midgrey);
}

#background-image {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }

  #background-image img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
    
    /* animates zoom effect on loading page */
    animation-name: game-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  
  /* creates the level of zoom for hero image */
  @keyframes game-image-zoom {
      from {
          transform: scale(1);
      }
      to {
          transform: scale(1.1);
      }
  }
  
#main-panel {
	width: 31.25rem;
	height: 37.5rem;
	background-color : var(--panel-grey);
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem 1.5rem 2.3rem;
    text-align: center;
    color: var(--offwhite);
    text-transform: uppercase;
}

.top-line {
	line-height:1.875rem;
}

.top-line p {
	float: right;
	padding-top: 0.25rem;
	padding-right: 0.5rem;
}

#exit {
	float: left;
	font-size:150%;
	background-color: transparent;
	color : var(--offwhite);
	padding-top: 0.3rem;
}
.user-icon {
	font-size:220%; 
	float:right;
}

#username {
	font-weight: 200;
	font-size: 90%;
    text-transform: none;
}

.info-text {
	padding: 2rem;
	letter-spacing: 0.125rem; 
	font-size: 1.8em; 
}

.button {
    background-color: var(--bg-orange);
    border: none;
    color: var(--offwhite);
    padding: 0.8rem;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    width: 17.5rem;
    border-radius: 11px;
    border-bottom: 4px solid var(--border-orange);
 }
 
 .button:hover {
    background-color: var(--button-orange);
 }
 
 .button:active {
   background-color: var(--button-orange);
   border-bottom: 4px solid transparent;
   transform: translateY(4px);
 }
 
 .user-input input, .user-input label, .user-input textarea {
	font-size: 150%;
	font-family: Questrial, sans-serif;
	text-align : center;
	margin: 0.5rem auto;
	border-radius:0.3rem;
}

.user-input p {
    text-transform: lowercase;
}

.user-input input {
	padding: 1.5rem 0;
	width: 26rem;
}

.user-input textarea {
	padding: 0.5rem 0.3rem;
	width: 30.625rem;
	text-align : left;
}

.user-message {
    padding:2rem;
    color: var(--msg-text);
}

/* styling for the login panel */
#login-panel {
    display:none;
    padding-top: 8rem;
}

#user {
	border-radius:0.3rem;
	padding: 0.8rem 0;
}
 
#message-1 {
    display:none;
}

/* styling for the 'choose topic' panel */
#topic-panel {
    display:none;
    clear:both;
    padding-top: 4rem;
}

.topic-btn {
    display: none;
}

#topic-index {
    display:none;
}

/* styling for the game playing panel */
#game-panel {
    display:none;
    clear: both;
}

.status-bar {
	padding-top: 1.4rem;
    width: 100%;
  /*background-color: lightgrey;*/
    border-radius: 16px;
}

#timer {
    width: 100%;
    height: 0.625rem;
    background-color: var(--bg-orange);
    border-radius: 1rem;
  }

#word-display {
	margin: 0 auto 2rem;
	background-color: var(--offwhite);
	position: relative;
	color: var(--question-text);
	font-size: 150%;
	padding: 2rem 0;
	border-radius:0.3rem;
}

#result {
	font-size:3em;
	padding-top : 0.75rem;	
}

#progress {
    width: 10%;
    height: 0.625rem;
    background-color: var(--bg-orange);
    border-radius: 1rem;
    margin: 0.8rem 0;
    text-align: left;
  }
  
  #num-asked {
      float:left;
  }
  
  #num-correct {
      float:right;
  }

/* styling for the 'end of round' panel */
#end-panel {
    display:none;
    padding-top: 8rem;
}

#result-text {
	font-size:140%;
}

/* For small screens sizes from 510px wide and down */
@media screen and (max-width: 540px) {
    #main-panel {
        width: 17.5rem;
        height: 38.5rem;
        padding: 0.625rem;
    }

    .user-input input {
		width: 17.5rem;
	}
	
	.user-input textarea {
		width: 16.875rem;
	}

	#word-display {
		padding: 1rem 0;
	}

}