@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --midgrey: #3a3a3a;
    --panel-grey: rgba(60, 60, 60, 0.9);
    --offwhite: #fafafa;
    --border-orange: #bd5907;
    --button-orange: #f38429;
    --bg-orange: #f57309;
    --msg-text: gold;
    --question-text: black;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
}

body {
    font-family: Questrial, sans-serif;
    font-weight: 400;
    color: var(--midgrey);
}

#background-image {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#background-image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;

    /* animates zoom effect on loading page */
    animation-name: game-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes game-image-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#main-panel {
    background-color: var(--panel-grey);
    text-align: center;
    color: var(--offwhite);
    text-transform: uppercase;
    height: 36.5rem;
    width: 95%;
    box-sizing: border-box;  
    max-height: 36.5rem;
    max-width: 31.25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-line {
    line-height: 1.875rem;
}

.top-line p {
    float: right;
    padding-top: 0.25rem;
    padding-right: 0.5rem;
}

#exit {
    float: left;
    font-size: 150%;
    background-color: transparent;
    color: var(--offwhite);
    padding-top: 0.3rem;
}

.user-icon {
    font-size: 220%;
    float: right;
}

#username {
    font-weight: 200;
    font-size: 120%;
    text-transform: none;
}

.info-text {
    padding: 1.5rem 0;
    letter-spacing: 0.125rem;
    font-size: 1.8rem;
}

.button {
    background-color: var(--bg-orange);
    border: none;
    color: var(--offwhite);
    padding: 0.8rem;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    width: 17.5rem;
    border-radius: 11px;
    border-bottom: 4px solid var(--border-orange);
}

.button:hover {
    background-color: var(--button-orange);
}

.button:active {
    background-color: var(--button-orange);
    border-bottom: 4px solid transparent;
    transform: translateY(4px);
}

.user-input input,
.user-input label {
    font-size: 150%;
    font-family: Questrial, sans-serif;
    text-align: center;
    margin: 0.5rem auto;
    border-radius: 0.3rem;
}

.user-input p {
    text-transform: lowercase;
}

.user-message {
    padding: 2rem;
    color: var(--msg-text);
}

/* styling for the login panel */
#login-panel {
    display: none;
    padding-top: 6rem;
}

#user {
    border-radius: 0.3rem;
    padding: 0.8rem 0;
}

#message-1 {
    display: none;
}

/* styling for the 'choose topic' panel */
#topic-panel {
    display: none;
    clear: both;
    padding-top: 2rem;
}

.topic-btn {
    display: none;
}

#topic-index {
    display: none;
}

/* styling for the game playing panel */
#game-panel {
    display: none;
    clear: both;
}

.status-bar {
    padding-top: 1.4rem;
    width: 100%;
    border-radius: 16px;
}

#timer {
    width: 100%;
    height: 0.625rem;
    background-color: var(--bg-orange);
    border-radius: 1rem;
}

#word-display {
    margin: 0 auto 2rem;
    background-color: var(--offwhite);
    position: relative;
    color: var(--question-text);
    font-size: 150%;
    padding: 1rem 0.3rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#answer {
    position: relative;
    font-size: 150%;
    padding: 1rem 0.3rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    min-width: 0;
    width:97%;
}


#result {
    font-size: 3em;
    padding-top: 0.75rem;
}

#progress {
    width: 10%;
    height: 0.625rem;
    background-color: var(--bg-orange);
    border-radius: 1rem;
    margin: 0.8rem 0;
    text-align: left;
}

#num-asked {
    float: left;
}

#num-correct {
    float: right;
}

/* styling for the 'end of round' panel */
#end-panel {
    display: none;
    padding-top: 6rem;
}

#result-text {
    font-size: 140%;
}

/* For small screens sizes from 510px wide and down */
@media screen and (max-width: 540px) {

    * {
        font-size: 90%;
    }

    .top-line p {
        padding-top : 0;
    }

    #main-panel {
        height: 31.5rem;
        padding: 2%;
    }

    .button {
        font-size: 1rem;
    }

    .info-text {
        font-size : 1.4rem;
    }
}
